.logo-container {
  width: fit-content;
  margin: 0 auto;
}

.logo {
  font-size: 64px;
}

.subtitle {
  font-size: 24px;
}

form {
  display: grid;
  gap: 16px;
  max-width: 30rem;
  margin: 0 auto;
}

.form-group {
  display: grid;
  flex: 1;
}

.name-row {
  display: flex;
  gap: 1rem;
  flex: 1;
}

input,
button,
text,
textarea {
  font: inherit;
}

input,
textarea {
  border: none;
  padding: 5px 5px;
  border: 1px solid #d1d5db;
}

textarea {
  resize: none;
}

label {
  font-size: 1rem;
}

button {
  background-color: var(--accent-blue);
  color: var(--text-white);
  border: none;
  padding: 10px 10px;
}

button:hover {
  cursor: pointer;
}

h2 {
  color: var(--text-muted);
}

span:hover {
  cursor: pointer;
}
